$nav-color: #1e2837;
$white-color: #fff;
$primary-light-color-2: #f2f5ff;
$setting-color: #419187;
$text-light-color: #95989c;
$menu-color: #0f1428;
$color_1: #e0e0e0;
$color_2: #418f87;
$background-color_1: #77777780;
$background-color_2: #418f87;
$tabColor: #939aa3;
$active-color: #283241;
$panel-content: #495057;
