<div [ngClass]="{'alt-background': isConditionMet, 'default-background': !isConditionMet}" class="stats-card my-3">
    <div class="header">
        <div class="title">{{title}}</div>
        <div class="icon" *ngIf="!hideActions">
            <i class="pi pi-ellipsis-v" [style.color]="iconColor"></i>
        </div>
    </div>
    <div class="body">
        <h4 [style.color]="color">{{number}}</h4>
        <p [style.color]="color" class="subtitle">{{subTtitle}}</p>
        <p class="footerText">{{footer}}</p>
    </div>
</div> 
