<main class="wrapper">
  <section class="navbar">
    <div class="container">
      <div class="row w-100">
        <div class="col-md-6 py-4">
          <app-profile></app-profile>
        </div>
        <div class="col-md-6 py-4">
          <div class="btns">
            <button class="btn text-white">
              <i class="pi pi-envelope"></i>
              Messages
            </button>
            <button class="settings fs-12">
              <i class="pi pi-cog"></i>
              Settings
            </button>
          </div>
        </div>
        <div class="col-12 mt-3">
          <app-menu-list></app-menu-list>
        </div>
      </div>
    </div>
  </section>
  <section class="stats">
    <div class="container">
      <app-tabs-view></app-tabs-view>
      <div class="cards my-4">
        <div class="row">
          <div class="col-md-3">
            <app-stats-card
              title="Summary"
              number="25"
              subTtitle="Due Task"
              footer="Completed : 122"
              color="#4b7deb"
            ></app-stats-card>
          </div>
          <div class="col-md-3">
            <app-stats-card
              title="Over Due"
              number="45"
              subTtitle="Tasks"
              footer="From Yesterday : 2"
              color="#dc504b"
            ></app-stats-card>
          </div>
          <div class="col-md-3">
            <app-stats-card
              title="Issues"
              number="60"
              subTtitle="open"
              footer="Closed Today : 6"
              color="#e6a037"
            ></app-stats-card>
          </div>
          <div class="col-md-3">
            <app-stats-card
              title="Features"
              number="25"
              subTtitle="Proposals"
              footer="Implemented : 79"
              color="#5abe69"
            ></app-stats-card>
          </div>
        </div>
      </div>
      <div class="issues-summary">
        <div class="summary-header">
          <h4>Issues Summary</h4>
          <div class="filter-btns">
            <button
              (click)="setActive(1)"
              [class.active]="Active === 1"
              class="btn"
            >
              Last Week
            </button>
            <button
              (click)="setActive(2)"
              [class.active]="Active === 2"
              class="btn"
            >
              This Weeks
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="charts">
              <h4>New Vs. Closed</h4>
            </div>
            <app-chart></app-chart>
          </div>
          <div class="col-md-6">
            <div class="overview">
              <h4>Overview</h4>
              <div class="row">
                <div class="col-md-6">
                  <app-stats-card
                    number="25"
                    subTtitle="New Issues"
                    color="#4b7deb"
                    [hideActions]="true"
                    [isConditionMet]="true"
                  ></app-stats-card>
                </div>
                <div class="col-md-6">
                  <app-stats-card
                    number="25"
                    subTtitle="Closed"
                    color="#e6a037"
                    [hideActions]="true"
                    [isConditionMet]="true"
                  ></app-stats-card>
                </div>
                <div class="col-md-3 my-3">
                  <app-stats-card
                    number="5"
                    subTtitle="Fixed"
                    color="#95989c"
                    [hideActions]="true"
                    [isConditionMet]="true"
                  ></app-stats-card>
                </div>
                <div class="col-md-3 my-3">
                  <app-stats-card
                    number="9"
                    subTtitle="Won't Fix"
                    color="#95989c"
                    [hideActions]="true"
                    [isConditionMet]="true"
                  ></app-stats-card>
                </div>
                <div class="col-md-3 my-3">
                  <app-stats-card
                    number="5"
                    subTtitle="Re-open"
                    color="#95989c"
                    [hideActions]="true"
                    [isConditionMet]="true"
                  ></app-stats-card>
                </div>
                <div class="col-md-3 my-3">
                  <app-stats-card
                    number="5"
                    subTtitle="Needs Triage"
                    color="#95989c"
                    [hideActions]="true"
                    [isConditionMet]="true"
                  ></app-stats-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
