@import "../../../../sass/sass-variables.scss";

.card {
  margin-top: 20px;
  background-color: $active-color;
  .card-body {
    .card-title {
      color: $white-color;
    }
    .card-text {
      color: $text-light-color;
    }
    .details-btn {
      background-color: $setting-color;
      color: $white-color;
    }
  }
}
