<main>
  <div class="container-fluid">
    <!-- Search input -->
    <div class="d-flex justify-content-between align-items-center">
      <app-search-input (search)="onSearch($event)"></app-search-input>
      <button (click)="navigateToDesignTak()" class="settings fs-12">
        <i class="pi pi-arrow-right-arrow-left"></i>
        Switch to Design Task
      </button>
    </div>

    <!-- Display message if no posts found -->
    <app-error-mesage *ngIf="filteredPosts.length === 0"></app-error-mesage>

    <!-- Post cards -->

    <div class="row">
      <div class="col-md-4" *ngFor="let post of filteredPosts">
        <app-post-card [post]="post"></app-post-card>
      </div>
    </div>
  </div>
</main>
